@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('fonts/Gilroy/Gilroy-Light.otf') format('opentype');
    font-style: normal;
}



html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    /* margin-left: 150px; */
    background-color: #F6F6F6;
    margin: 0;
}

/* body::-webkit-scrollbar{
    width: 0;
} */

* {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 600;
    margin: 0;

}

::selection {
    background-color: #2FBB00;
    color: #F6F6F6;
}


header {
    width: 1239px;
    padding-top: 24px;
    display: flex;
    margin: 0 auto;
    align-items: center;

}

.logo {
    margin: 0;
    display: flex;
    align-items: center;
}

.logo img {
    width: 53px;
    height: 53px;
}

.logo h1 {
    color: #238D00;
    font-family: "Afacad Flux", sans-serif;
    padding-right: 140px;

    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 40px;
    padding-left: 8px;
}

.menu {
    padding-right: 140px;

}

.menu a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #171717;
    padding-right: 20px;
    font-family: 'Gilroy Light';
}

#menu-bar {
    font-size: calc(20px + (30-20)*((100vw-300px)/(1600-300)));
    ;
    cursor: pointer;
    color: #222;
    border: .1rem solid #222;
    padding: 10px 13px;
    border-radius: 0.3rem;
    display: none;
}


.btn_entrance p {
    padding-right: 9px;
    letter-spacing: 2px;
}

.btn_entrance_main {

    padding-left: 100PX;
    background-color: #2FBB00;
    padding: 10px 15px;
    border-radius: 5px;

    display: flex;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    color: #F6F6F6;

}

.btn_entrance a img {
    width: 17px;
    height: 17px;

}

.container {
    padding-top: 87px;
    margin: 0 auto;
    width: 1239px;
    padding-bottom: 145px;
}

.content {
    display: flex;
    align-items: center;
    padding: auto;
    margin: auto;
}



.left_content {
    padding-right: 50px;
}


.title_left_content {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 800;
    padding-bottom: 20px;
    font-size: 70px;
    width: 600px;

}

.subtitle_left_content {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    width: 471px;
    padding-bottom: 90px;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn_left_content a {
    font-weight: 700;
    background-color: #2FBB00;
    text-decoration: none;
    padding: 25px 35px;
    border-radius: 10px;
    color: #F6F6F6;
    font-size: 24px;
    letter-spacing: 2px;
}

.right_content {
    width: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bg_colour_green {
    background-color: #2FBB00;
    width: 400px;
    height: 600px;
    position: absolute;
    rotate: -20deg;
    border-radius: 50px;
}

.text_front_video {
    width: 210px;
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    position: absolute;
    background-color: #F6F6F6;
    margin-top: 410px;
    /* left: 870px; */
    text-align: center;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.all_video_elements {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 452px;
}

.all_video_elements::-webkit-scrollbar {
    width: 0;
}


.left_btn,
.right_btn {
    cursor: pointer;
}

.left_btn {
    padding-right: 11px;
}

.right_btn {
    padding-left: 11px;
}

.first_video {
    width: 452px;
    height: 600px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: #828282;
    padding: 0;
    border-radius: 50px;
}

.second_video {
    display: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.second_video .active {
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.process {
    width: 1239px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.top_process {
    margin-left: 110px;
    margin-bottom: 61px;
}

.title_process {
    align-items: center;
}

.title_process h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    width: 940px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.subtitle_process p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-left: 190px;
    width: 537px;
    justify-content: center;

    font-size: 20px;
}

.title_sub_hiden {
    display: none;
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 537px;
    justify-content: center;

    font-size: 20px;
}

.button_process {
    display: flex;
}

.video_process video {
    width: 553px;
    height: 335px;
    border-radius: 50px;
}


.text {
    padding-bottom: 40px;
    display: flex;
    margin-left: 56px;
}

.text img {
    width: 51px;
    height: 51px;
    padding-right: 40px;
}

.text p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 500px;
    margin: auto;
    line-height: 120%;
}

.text:nth-child(4) {
    padding-bottom: 0px;
}



.course {
    width: 1239px;
    margin: 0 auto;
}

.title_cou h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-family: 800;
    font-size: 70px;
    width: 212px;
    padding-left: 490px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.subtitle_cou p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 538px;
    padding-left: 340px;
    padding-bottom: 53px;
}






.title_subject {
    font-size: 24px;
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 700;
    padding-bottom: 68px;
    letter-spacing: 1px;
}



.subjuct {

    padding-bottom: 110px;
}


.navbar {
    display: block;
    list-style: none;
}

.navbar a {
    padding-bottom: 50px;
    margin-right: 21px;
    margin-bottom: 50px;
    padding: 20px 20px;
    border: solid black 1px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar a {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #171717;

    font-size: 20px;
    letter-spacing: 1px;


}

.nav_cuts1 {
    display: flex;
    padding-bottom: 60px;
    width: 1239px;
    margin: 0 auto;
    justify-content: center;
}

.nav_cuts2 {
    display: flex;
    padding-bottom: 60px;
    width: 1239px;
    margin: 0 auto;
    justify-content: center;
}



.nav_cuts3 {
    width: 1239px;
    margin: 0 auto;
    text-align: center;
}

.sp {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 700;
    margin-left: 350px;
    font-size: 20px;
}



.cards {
    display: flex;
    overflow-x: auto;
    padding-top: 20px;
    padding-bottom: 100px;

}

/* .btn_sub1 , */
.btn_sub2 {
    position: absolute;
    width: 52px;
    height: 52px;
    padding-top: 262px;
    margin-left: 1080px;
}

.cards::-webkit-scrollbar {
    width: 0px;
}


.bg_card {
    width: 245px;
    background-color: #F6F6F6;
    padding: 37px 28px;
    box-shadow: 2px 2px 13.4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin-right: 40px;
    margin-left: 5px;
}

.bg_card img {

    width: 246px;
    height: 174px;
    padding-bottom: 13px;
}

.bg_card h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 13px;
}

.card_infos {
    padding-bottom: 30px;
}

.info_card {
    display: flex;
    align-items: center;
    padding-bottom: 14px;

}

.info_card p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 700;
}

.info_card img {
    width: 20px;
    height: 20px;
    padding-right: 11px;
}


.btn_buy {
    display: flex;
    align-items: center;
}

.btn_buy a {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 500;
    padding: 15px 22px;
    background-color: #2FBB00;
    color: #F6F6F6;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 9px;
}

.price {
    font-weight: 700;
    font-size: 20px;
    color: #171717;
}



.teachers {
    width: 1239px;
    margin: 0 auto;
    padding-bottom: 118px;
}

.title_teachers {
    text-align: center;
    width: 1210px;
    padding-bottom: 57px;
}

.title_teachers h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 70px;
    letter-spacing: 2px;
    /* padding-left: 315px; */
}

.title_teachers p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    padding: 0px;
    /* padding-left: 315px; */

    font-size: 20px;
}

.teacher {
    padding: 0px;
    max-width: 887px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 160px;
}

.teacher::-webkit-scrollbar {
    width: 0px;
}

.teacher img {
    width: 52px;
    height: 52px;

}

.one_two_teachers,
.three_four_teachers {
    display: flex;
}



.left-btn {
    position: absolute;
    padding-top: 350px;
    padding-left: 97px;
    cursor: pointer;
}

.btn_right {
    position: absolute;
    margin-left: 900px;
    cursor: pointer;
}


.card-teachers {
    position: relative;
    padding: 49px 31px;
    background-color: rgba(246, 246, 246, 1);
    box-shadow: 2px 2px 13.3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin-right: 29px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.card_teacher img {
    width: 352px;
    height: 325px;
    padding-bottom: 20px;
}

.name-teacher {
    padding-bottom: 21px;
}

.name-teacher h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-weight: 700;
}

.name-teacher p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.info_teacher p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    width: 335px;
    font-size: 20px;
    padding-bottom: 20px;
}

.count_student h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 800;
    font-weight: 700;
    font-size: 32px;
}

.count_student p {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 600;
    font-size: 20px;
}


.trial_lesson {
    width: 1470px;
    margin: 0 auto;
    margin-bottom: 143px;
}

.bg_lesson {
    position: relative;
    top: 0px;
    left: 27px;
    width: 1436px;
    height: 570px;
    background-color: rgba(47, 187, 0, 1);
    border-radius: 50px;

}

.trial {
    position: absolute;
    top: 4015px;
    align-items: center;
    padding: 12px 95px;
    display: flex;
    background-color: #D8EAD1;
    height: 550px;
    border-radius: 50px;
    width: 1239px;
    padding-left: 110px;
    margin: 0 auto;
}

.left_blok {
    margin-right: 90px;
    margin-bottom: 30px;
}


.title_tiral_lesson h1 {
    width: 481px;
    font-size: 70px;
    font-family: 800;
    padding-bottom: 20px;
}

.title_tiral_lesson p {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 42px;
}

.input_name {
    margin-bottom: 17px;
    border: none;
    background-color: #F6F6F6;
    border-radius: 10px;
    width: 418px;
    height: 79px;
    padding-left: 35px;
    font-size: 20px;
    color: #BEBEBE
}

.input_emile {
    border: none;
    background-color: #F6F6F6;
    border-radius: 10px;
    width: 418px;
    height: 79px;
    padding-left: 35px;
    font-size: 20px;
    color: #BEBEBE
}


.sing_in_to_lesson {
    padding-top: 60px;
}

.sing_in_to_lesson a {
    border-radius: 10px;
    background-color: rgba(47, 187, 0, 1);
    padding: 25px 35px;
    text-decoration: none;
    color: rgba(246, 246, 246, 1);
    font-size: 24px;
}

.right_blok img {
    margin-top: 88px;
    width: 739.81px;
    height: 490px;
    left: 0;
}

.comment {
    left: 0;
}

.comments {
    padding-bottom: 109px;
    position: relative;
    width: 1239px;
    margin: 0 auto;
}

.all_comment {
    width: 1250px;
    display: flex;
    overflow-x: auto;
}

.all_comment::-webkit-scrollbar {
    width: 0;
}



.title_comments h1 {
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 70px;
    padding: 0px;
    padding-left: 461px;
    padding-bottom: 47px;
    letter-spacing: 2px;
}

.btn_comment_left {
    position: absolute;
    margin-top: 209px;
    margin-left: 150px;
}

.btn_comment_right {
    position: absolute;
    margin: 0;
    margin-left: 1039px;
    margin-top: 209px;
}

.comment {
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 1);
    box-shadow: 2px 2px 14.9px -4px rgba(0, 0, 0, 0.25);
    padding: 51px;
    width: 623px;
    height: 271px;

    margin: 20px auto;
}

.comment {
    display: block;
}

/* .comment.active, .comment:first-child { display: flex; } */

.name_photo {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.name_photo img {
    width: 60px;
    height: 60px;
    padding-right: 23px;
    border-radius: 100px;
}

.name_photo h1 {
    font-size: 32px;
    font-family: 'Gilroy ExtraBold', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.com p {
    width: 634px;
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 600;
    font-size: 20px;
}







.contacts {
    left: 0;
    background-color: rgb(0, 0, 0);
    height: 425px;
    margin: 0 auto;
}

.all_contact {
    width: 1239px;
    margin: 0 auto;
    padding: 40px 0px;
}


.logo_cours {
    width: 1239px;
    display: block;
    align-items: center;
    margin: 0 auto;
}


.logo_cours_info {
    display: flex;
    padding-bottom: 30px;
}

.logo_contact {
    display: flex;
    cursor: pointer;
    width: 190px;
    margin-right: 94px;
}

.logo_cours img {
    width: 53px;
    height: 53px;
    padding-right: 10px;
}

.logo_cours h1 {
    font-family: "Afacad Flux", sans-serif;
    color: rgba(246, 246, 246, 1);
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}



.about_company {
    color: #F6F6F6;
    width: 447px;
    padding-right: 103px;
}

.title_about_company {
    font-size: 24px;
    font-family: 'Gilroy Light';
    font-weight: 600;
    padding-bottom: 30px;
    letter-spacing: 1px;
}

.about_company p {
    font-size: 20px;
    font-family: 'Gilroy Light';
    font-weight: 600;
    letter-spacing: 1px;
}



.useful {
    color: #F6F6F6;
    padding-right: 103px;
}

.title_useful {
    font-size: 24px;
    font-family: 'Gilroy Light';
    font-weight: 600;
    padding-bottom: 30px;
    letter-spacing: 1px;
}

.menu_contacts a {
    display: block;
    text-decoration: none;
    color: rgba(246, 246, 246, 1);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Gilroy Light';
    font-weight: 600;
    letter-spacing: 1px;
}




.contact_info {
    color: #F6F6F6;
}

.place p {
    font-family: 'Gilroy Light';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 16px;
}

.number {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.number img {
    width: 12px;
    height: 12px;
    padding-right: 5px;

}

.number a {
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Gilroy Light';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}

.icon_email {
    width: 12px;
    height: 12px;
    padding-right: 5px;

}

.email {
    padding-bottom: 16px;

}

.email_link_for_mobile{
    display: none;
}

.email a {
    font-family: 'Gilroy Light';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    color: #F6F6F6;

}



.social_media a {
    text-decoration: none;
    color: #F6F6F6;
    width: 16px;
    height: 16px;
}


.social_media a :nth-child(1) {
    padding-right: 52px;
}



.title_contact_info {
    font-size: 24px;
    font-family: 'Gilroy Light';
    font-weight: 600;
    padding-bottom: 30px;
    letter-spacing: 1px;
}




.menu_contacts a:nth-child(4) {
    padding: 0px;
}

.security p {
    font-family: 'Gilroy Light', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 12px;
    color: #F6F6F6;
}



@media (max-width:401px) {

    html {
        width: 401px;
    }


    header {
        padding-top: 10px;
        width: 320px;
        margin: 0 auto;
        padding-right: 0px;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .logo h1 {
        color: #238D00;
        font-family: "Afacad Flux", sans-serif;
        padding-right: 76px;

        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 24px;
        padding-left: 8px;
    }

    .menu {
        padding-right: 0px;

    }

    .menu a {
        display: block;
        /* display: none; */
        margin: 0;
        text-align: center;
        font-size: 14px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    #menu-bar {
        display: block;
        border: 0px
    }

    header .menu {
        position: absolute;
        top: 7%;
        right: 2rem;
        border-radius: 0.5rem;
        width: 190px;
        background: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .menu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .btn_entrance {
        padding-right: 10px;
    }

    .btn_entrance_main {

        background-color: #2FBB00;
        padding: 8px 13px;
        border-radius: 5px;

        display: flex;
        text-decoration: none;
        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
        color: #F6F6F6;

    }

    .btn_entrance a img {
        width: 15px;
        height: 15px;

    }

    .btn_entrance p {
        font-size: 14px;
        padding-right: 9px;
    }

    .container {
        padding-top: 57px;
        margin: 0 auto;
        width: 320px;
    }

    .content {
        display: block;
    }

    .left_content {
        padding-bottom: 60px;
    }

    .title_left_content {
        padding-bottom: 10px;
        font-size: 36px;
        width: 313px;
    }

    .subtitle_left_content {
        width: 277px;
        padding-bottom: 60px;
        font-size: 12px;
    }

    .btn_left_content a {
        padding: 20px 25px;
        border-radius: 10px;
        font-size: 16px;
    }

    .right_content {
        width: 320px;

    }

    .bg_colour_green {

        width: 184px;
        height: 300px;
        border-radius: 50px;
    }

    .all_video_elements {
        width: 184px;
    }

    .first_video {
        width: 184px;
        height: 300px;
        border-radius: 50px;
    }

    .left_btn {
        padding-right: 11px;
        width: 29px;
        height: 29px;
    }

    .right_btn {
        padding-left: 11px;
        width: 29px;
        height: 29px;
    }

    .text_front_video {
        width: 162px;
        margin-top: 300px;
        padding: 10px 10px 10px 10px;
        font-size: 10px;
    }

    .process {
        width: 320px;
        margin: 0 auto;
        padding-top: 85px;
        padding-bottom: 66px;
    }

    .top_process {
        width: 320px;
        margin: 0 auto;
        align-items: center;
        padding-bottom: 40px;
    }

    .title_process h1 {
        font-size: 36px;
        width: 320px;
        padding-bottom: 20px;
    }

    .subtitle_process {
        width: 270px;
    }

    .subtitle_process p {

        padding-left: 10px;
        width: 290px;
        align-items: center;

        font-size: 12px;
    }


    .button_process {
        display: block;
    }

    .video_process video {
        width: 291px;
        height: 181px;
        border-radius: 40px;
        margin-bottom: 30px;
    }

    .text {
        padding-bottom: 40px;
        display: flex;
        margin-left: 16px;
    }

    .text img {
        width: 32px;
        height: 32px;
        padding-right: 22px;
    }

    .text p {
        font-size: 12px;
        width: 200px;
        margin: 0;
    }

    .course {
        width: 320px;
        margin: 0 auto;
    }

    .cou {
        width: 320px;
        margin: 0 auto;
        text-align: center;
    }


    .title_cou h1 {
        font-size: 36px;
        width: 320px;
        padding-left: 0px;
        padding-bottom: 10px;

    }

    .subtitle_cou p {

        font-size: 12px;
        width: 320px;
        padding-left: 0px;
        padding-bottom: 53px;
    }

    .title_subject {
        font-size: 16px;
        padding-bottom: 21px;
    }

    .subjuct {
        width: 320px;
        margin: 0 auto;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    .special_subject {
        width: 320px;
    }

    .navbar a {

        margin-right: 8px;
        padding: 10px 10px;
        border: solid black 1px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 40px;
    }

    .navbar a {
        font-size: 12px;
        height: 14px;
        margin-bottom: 0px;
    }

    .cut1,
    .cut2,
    .cut3,
    .cut4 {

        margin-bottom: 23px;
        width: 320px;

        text-align: center;
    }

    .nav_cuts1 {
        display: block;
        padding-bottom: 1px;
        width: 320px;
        margin: 0 auto;
        justify-content: center;
    }

    .nav_cuts2 {
        display: block;
        padding-bottom: 1px;
        width: 320px;
        margin: 0 auto;
        justify-content: center;
    }

    .nav_cuts3 {
        width: 320px;
        margin: 0 auto;
        text-align: center;
    }



    .cards {
        padding-bottom: 66px;
    }

    .bg_card {
        width: 320px;
    }

    .bg_card {
        width: 226px;
        height: 380px;
        background-color: #F6F6F6;
        padding: 30px 24px;
        box-shadow: 2px 2px 13.4px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        margin-right: 40px;
        margin-left: 5px;
    }

    .bg_card img {

        width: 178px;
        height: 126px;
        padding-bottom: 13px;
    }

    .card_infos {
        padding-bottom: 5px;
    }


    .info_card img {
        width: 20px;
        height: 20px;
        padding-right: 11px;
    }

    .btn_buy a {
        font-weight: 400;
        padding: 10px 12px;
        font-size: 16px;
    }


    .bg_card h1 {

        font-size: 16px;

    }

    .info_card p {
        font-size: 12px;
    }

    .price {
        font-size: 16px;
    }



    .teachers {
        width: 320px;
        margin: 0 auto;
        padding-bottom: 0px;
    }

    .title_teachers {
        text-align: center;
        width: 320px;
        padding-bottom: 33px;
    }

    .title_teachers h1 {
        font-family: 'Gilroy ExtraBold', sans-serif;
        font-weight: 800;
        font-size: 36px;
        padding-bottom: 10px;
        /* padding-left: 315px; */
    }


    .title_teachers p {
        font-size: 12px;
        width: 310px;
        text-align: center;
        width: 320px;
        padding-bottom: 33px;
    }


    .teacher {
        width: 320px;
        margin: 0 auto;
        padding: 0px;
        max-width: 320px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        padding: 0px;
        margin-left: 0px;
    }


    .card-teachers {
        position: relative;
        padding: 32px 21px;
        background-color: rgba(246, 246, 246, 1);
        box-shadow: 2px 2px 13.3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        margin-right: 17px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .card_teacher img {
        width: 212px;
        height: 195px;
        padding-bottom: 10px;
    }

    .left-btn {
        position: absolute;
        padding-top: 350px;
        padding-left: 0px;
        display: none;
    }

    .info_teacher p {

        width: 200px;
        font-size: 12px;
        padding-bottom: 20px;
    }

    .btn_right {
        position: absolute;
        margin-left: 260px;
        width: 29px;
        height: 29px;
    }

    .name-teacher {
        padding-bottom: 21px;
    }

    .name-teacher h1 {
        font-family: 'Gilroy ExtraBold', sans-serif;
        font-weight: 700;
        font-size: 20px;
        font-weight: 700;
    }

    .name-teacher p {
        font-family: 'Gilroy Light', sans-serif;
        font-weight: 600;
        font-size: 12px;
    }

    .count_student h1 {
        font-family: 'Gilroy ExtraBold', sans-serif;
        font-weight: 800;
        font-weight: 700;
        font-size: 20px;
    }

    .count_student p {
        font-family: 'Gilroy ExtraBold', sans-serif;
        font-weight: 600;
        font-size: 12px;
    }

    .bg_lesson {
        position: relative;
        top: 42px;
        left: 35px;
        width: 324px;
        height: 522px;
        background-color: rgba(47, 187, 0, 1);
        border-radius: 50px;

    }

    .trial {
        position: absolute;
        left: 27px;
        top: 3392px;
        align-items: center;
        padding: 0px 0px;
        display: block;
        background-color: #D8EAD1;
        height: 530px;
        border-radius: 50px;
        width: 324px;

        margin: 0 auto;
    }

    .trial_lesson {
        width: 1470px;
        margin: 0 auto;
        margin-bottom: 123px;
    }

    .left_blok {
        padding: 32px 28px 0px 28px;
        height: 330px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .right_blok {
        width: 247.6px;
    }

    .title_tiral_lesson h1 {
        width: 257px;
        font-size: 36px;
        padding-bottom: 6px;
    }

    .title_tiral_lesson p {
        font-size: 16px;
        padding-bottom: 19px;
        width: 260px;
    }

    .input_name {
        margin-bottom: 10px;
        border: none;
        background-color: #F6F6F6;
        border-radius: 10px;
        width: 250px;
        height: 51px;
        padding-left: 15px;
        font-size: 16px;
        color: #BEBEBE;
    }

    .input_emile {
        border: none;
        border: none;
        background-color: #F6F6F6;
        border-radius: 10px;
        width: 250px;
        height: 51px;
        padding-left: 15px;
        font-size: 16px;
        color: #BEBEBE
    }

    .sing_in_to_lesson {
        padding-top: 40px;

    }

    .sing_in_to_lesson a {
        border-radius: 10px;
        background-color: rgba(47, 187, 0, 1);
        padding: 16px 20px;
        text-decoration: none;
        color: rgba(246, 246, 246, 1);
        font-size: 16px;
        letter-spacing: 1px;
    }

    .right_blok img {
        margin-top: 0px;
        margin-left: 47px;
        width: 247.6px;
        height: 165px;
        left: 0;
    }

    .comments {
        margin-left: 18px;
        margin-top: 0;
        width: 320px;
        padding-top: 0px;
        padding-bottom: 63px;
    }

    .title_comment {
        width: 320px;
        margin: 0 auto;
    }

    .title_comments h1 {
        font-size: 36px;
        padding-left: 0px;
        padding-bottom: 0px;
        letter-spacing: 2px;
        margin: 0 auto;
        width: 121px;
    }

    .all_comment {
        width: 345px;
        margin-left: 30px;
        margin: 0;
        display: flex;

    }

    .com {
        width: 257px;
    }

    .com p {
        width: 270px;
        font-family: 'Gilroy Light', sans-serif;
        font-weight: 600;
        font-size: 12px;
    }

    .name_photo {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
    }

    .name_photo img {
        width: 40px;
        height: 40px;
        padding-right: 10px;
        border-radius: 100px;
    }

    .name_photo h1 {
        font-size: 20px;
        font-family: 'Gilroy ExtraBold', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .comment {
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px 32px;
        width: 280px;
        height: 230px;
    }

    .btn_comment_left {
        position: absolute;
        margin-top: 150px;
        margin-left: 5px;
        width: 29px;
        height: 29px;
    }

    .btn_comment_right {
        position: absolute;
        margin: 0;
        margin-left: 313px;
        margin-top: 149px;
        width: 29px;
        height: 29px;
    }

    .contacts {
        width: 401px;
        margin: 0 auto;
        height: 300px;
    }

    .all_contact {
        width: 344px;
        margin: 0 auto;
        padding: 16px 0px;
    }

    .logo_cours {
        width: 343px;
        margin: 0 auto;
    }

    .logo_cours img {
        width: 33px;
        height: 33px;
        padding-right: 10px;
    }
    
    .logo_cours h1 {
        font-family: "Afacad Flux", sans-serif;
        color: rgba(246, 246, 246, 1);
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 13px;
    }
    




    .about_company {
        color: #F6F6F6;
        width: 150px;
        padding-right: 16px;
    }
    
    .title_about_company {
        font-size: 16px;
        font-family: 'Gilroy Light';
        font-weight: 600;
        padding-bottom: 12px;
        letter-spacing: 1px;
    }
    
    .about_company p {
        width: 129px;
        font-size: 10px;
        font-family: 'Gilroy Light';
        font-weight: 600;
        letter-spacing: 1px;
    }

    .useful {
        color: #F6F6F6;
        padding-right: 16px;
    }
    
    .title_useful {
        font-size: 16px;
        font-family: 'Gilroy Light';
        font-weight: 600;
        padding-bottom: 12px;
        letter-spacing: 1px;
    }
    
    .menu_contacts a {
        display: block;
        text-decoration: none;
        color: rgba(246, 246, 246, 1);
        font-weight: 600;
        font-size: 10px;
        padding-bottom: 5px;
        font-family: 'Gilroy Light';
        font-weight: 600;
        letter-spacing: 1px;
    }


    .contact_info {
        color: #F6F6F6;
    }

    .title_contact_info {
        font-size: 16px;
        font-family: 'Gilroy Light';
        font-weight: 600;
        padding-bottom: 12px;
        letter-spacing: 1px;
    }
    
    .place p {
        font-family: 'Gilroy Light';
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 10px;
        padding-bottom: 9px;
        width: 93px;
    }
    
    .number {
        display: flex;
        align-items: center;
        padding-bottom: 9px;
    }
    
    .number img {
        width: 16px;
        height: 16px;
        padding-right: 5px;
    
    }
    
    .number a {
        text-decoration: none;
        color: #F6F6F6;
        font-family: 'Gilroy Light';
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 10px;
        width: 722px;
    }
    
    .icon_email {
        width: 16px;
        height: 16px;
        padding-right: 5px;
    
    }
    
    .email {
        padding-bottom: 9px;
        width: 93px;
        display: flex;
    }

    .email_link_for_mobile{
        display: block;
    }

    .email_link{
        display: none;
    }
    
    .email a {
        font-family: 'Gilroy Light';
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 10px;
        text-decoration: none;
        color: #F6F6F6;
    }
    
    .social_media a :nth-child(1) {
        padding-right: 9px;
    }
    
    
    .security p {
       
        font-size: 10px;
    }
    

}